body.bg-image 
 .gradient
    .container-fluid
        .textrow
        .logo.col-sm-5
            img(src='../images/BonAppExpress_LogoWhiteMedium.png' alt='LogobonAppExpress')
        .link.col-sm-7
            .row
            .client.col-md-8
                a(href='/menu') Client
            .admin.col-md-4
                a(href='/inventaire') Admin

             

