$image_banner: rgba(255, 255, 255, 0.9);
$nom_area_padding: 80px;
$font_family: arial;
$image_padding_text: 12px;
$image_banner_fadeout: linear-gradient(
  $image_banner,
  $image_banner,
  rgba(255, 255, 255, 0.5),
  rgba(255, 255, 255, 0)
);
